* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, rgb(255, 123, 0), orange);
  font-weight: bold;
  color: white;
  position: fixed;
  top: 0;
  z-index: 12;
}

.logoBox {
  height: 100%;
  width: 9rem;
  object-fit: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.logoBox img {
  width: 150%;
  height: 150%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: space-between;
  transition: 2s;
}
nav ul li {
  padding-right: 20px;
  border-right: 2px solid white;
  cursor: pointer;
  transition: 0.4s;
}
nav ul li:hover {
  color: black;
}

/* home///////// */

.home {
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, black);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.home h1 {
  position: relative;
  z-index: 10;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  width: 600px;
  text-align: center;
}
/* ABOUT ONEY /////////////// */
.aboutHoney {
  margin-top: 2px;
  padding: 10px;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 80%;
}

.aboutHoney img {
  width: 500px;
  height: 500px;
}
.textDiv {
  width: 50rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.textDiv h1 {
  text-align: end;
  color: rgb(86, 72, 51);
  font-size: x-large;
}
.textDiv .biloSta {
  font-size: 5rem;
  color: orange;
  font-weight: 900;
}
.textDiv .description {
  font-weight: 100;
}

.textDiv img {
  width: 150px;
  height: 150px;
  align-content: center;
}

.aboutHoney .teglaMeda {
  transform: rotateY(180deg);
}

.burger {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: 0.1s;
  margin: 10px 10px;
  cursor: pointer;

  right: 10px;
  top: 74px;
  display: none;
}
.burger span {
  width: 5px;
  height: 5px;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  position: absolute;
}
.burger:hover span {
  transform: scale(1.2);
  transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.burger span:nth-child(1) {
  left: 0;
  top: 0;
}
.burger span:nth-child(2) {
  left: 12px;
  top: 0;
}
.burger span:nth-child(3) {
  right: 0;
  top: 0;
}
.burger span:nth-child(4) {
  left: 0;
  top: 12px;
}
.burger span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
}
.burger span:nth-child(6) {
  right: 0px;
  top: 12px;
}
.burger span:nth-child(7) {
  left: 0px;
  bottom: 0px;
}
.burger span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.burger span:nth-child(9) {
  right: 0px;
  bottom: 0px;
}
.burger.open {
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.burger.open span {
  border-radius: 50%;
  transition-delay: 200ms;
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.burger.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}
.burger.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}
.burger.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.burger.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}
@media screen and (max-width: 1300px) {
  nav {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    border: none;
    font-size: larger;
  }

  .aboutHoney {
    display: block;
  }
  .aboutHoney .textDiv {
    width: 100%;
    align-items: center;
  }
  .textDiv h1 {
    text-align: center;
  }
  .aboutHoney .teglaMeda {
    width: 100%;
  }
  .burger {
    display: inline-block;
  }
}

.displayFlex {
  display: flex;
}
.displayNone {
  display: none;
}

/* PROUD /////////// */

.proud {
  width: 100%;
  background: url("album/beekeeping-gd0079e0a5_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  position: relative;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proud::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 111, 0), rgb(160, 39, 39));
  opacity: 0.4;
}
.proud h1 {
  position: relative;
  z-index: 10;
  color: rgb(226, 137, 19);
  text-align: end;
  font-size: 4.5rem;
  width: 100%;

  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 10px rgb(55, 33, 18);
}
.proud div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.proud button {
  width: 14rem;
  height: 2.2rem;
  background-color: rgb(55, 33, 18);
  border-radius: 10px;
  border: none;
  color: rgb(232, 147, 35);
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  z-index: 11;
  transition: 0.2s;
  cursor: pointer;
}

.proud button:hover {
  background-color: rgb(87, 53, 30);
}
.proud i {
  font-size: 2rem;
  color: aliceblue;
}
